/* Global Styles */
* {
  box-sizing: border-box;
}

:root {
  --text-color: #000; /* Gündüz modu yazı rengi */
  --background-color: #fff; /* Gündüz modu arka plan rengi */
  --span-color: #111;
}

.dark-mode {
  --text-color: #fff; /* Gece modu yazı rengi */
  --background-color: #121212; /* Gece modu arka plan rengi */
  --span-color: #fff;
}

option {
  color: red;
}

span {
  color: var(--span-color); /* Span rengi değişkene bağlanıyor */
  transition: color 0.3s ease; /* Geçiş efekti */
}

/* Diğer elemanlar için yazı rengi */
*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans serif;
  font-weight: 500;
}

button,
input {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: none;
  -webkit-appearance: button;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

a {
  outline: none;
  text-decoration: none;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0;
  padding: 0;
}

/* Temel stil ayarları */
/* Temel stil ayarları */
.theme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle {
  width: 60px;
  height: 30px;
  background: linear-gradient(90deg, #ffcc33, #ff9933); /* Gündüz modu rengi */
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;
}

.circle {
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: transform 0.3s ease;
  z-index: 2;
}

.icon {
  font-size: 14px;
  color: white;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.sun {
  position: absolute;
  left: 28px;
  opacity: 1;
  z-index: 999;
}

.moon {
  position: absolute;
  right: 30px;
  opacity: 0; /* Gündüz modunda gizli */
}

/* Gece moduna geçildiğinde */
body.dark-mode .toggle {
  background: linear-gradient(90deg, #333, #666); /* Gece modu rengi */
}

body.dark-mode .circle {
  transform: translateX(20px);
}

body.dark-mode .sun {
  opacity: 0; /* Güneşi gizle */
}

body.dark-mode .moon {
  opacity: 1; /* Ayı göster */
}

body {
  color: var(--text-color);
  letter-spacing: 0.04em;
  background-color: var(--background);
  font-family: Roboto, sans-serif;
  font-style: normal;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

body.is-open {
  overflow: hidden;
}

input,
button {
  font: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 320px) {
  .section {
    padding: 28px 0;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 40px 0;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding: 80px 0;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
}

@keyframes Scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

body {
  scrollbar-width: none;
}

.button {
  color: #111;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84922 91.91%);
  border-radius: 74px;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .button {
    padding: 10px 24px;
    font-size: 14px;
    line-height: 1.43;
  }
}

@media screen and (min-width: 1280px) {
  .button {
    padding: 12px 24px;
    font-size: 16px;
    line-height: 1.4;
  }
}

.button:hover,
.button:focus {
  color: #f87719;
  background: none;
  border: 1px solid #f87719;
}

.header-container {
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.logo {
  align-items: center;
  display: flex;
  color: var(--text-color);
}

@media screen and (min-width: 1280px) {
  .logo {
    margin-right: 90px;
  }
}

.logo-img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .logo-img {
    margin-right: 8px;
  }
}

.logo-text {
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

@media screen and (min-width: 768px) {
  .logo-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.16;
    display: inline-block;
  }
}

.header-menu-btn {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-menu-btn {
    text-transform: uppercase;
    color: var(--muted-text);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
  }

  .movie-card {
    flex: 0 1 calc(100% - 0px) !important;
  }

  #movies {
    padding: 16px !important;
  }

  .search-section {
    gap: 10px !important;
    margin-top: 20px;
  }

  .search-input {
    width: 220px !important;
  }

  .container {
    max-width: 100%;
  }
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    gap: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    display: flex;
  }
}

.nav-menu {
  text-transform: uppercase;
  color: var(--muted-text);
}

body.index-page .nav-menu.index-page,
body.catalog-page .nav-menu.catalog-page,
body.my-library-page .nav-menu.my-library-page,
.nav-menu:hover,
.nav-menu:focus {
  color: #f87719;
}

.theme {
  cursor: pointer;
  width: 38px;
  height: 16px;
  border-radius: 194px;
  align-items: center;
  gap: 14px;
  padding: 5px;
  display: flex;
  position: relative;
}

@media screen and (min-width: 768px) {
  .theme {
    width: 54px;
    height: 20px;
    gap: 24px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .theme {
    width: 60px;
    height: 24px;
    gap: 24px;
  }
}

.theme:before {
  content: '';
  z-index: 2;
  width: 12px;
  height: 12px;
  transform: translateX(18px);

  border-radius: 50px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 12%;
}

@media screen and (min-width: 768px) {
  .theme:before {
    width: 16px;
    height: 16px;
    transform: translateX(30px);
  }
}

@media screen and (min-width: 1280px) {
  .theme:before {
    width: 18px;
    height: 18px;
    transform: translateX(34px);
  }
}

.theme:after {
  content: '';
  z-index: 2;
  width: 10px;
  height: 10px;
  transform: translateX(18px) rotate(0);
  background-color: rgba(0, 0, 0, 0);
  border-right-width: 2px;
  border-radius: 50px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 17%;
  left: 40px;
}

@media screen and (min-width: 768px) {
  .theme:after {
    width: 14px;
    height: 14px;
    transform: translateX(-3px) rotate(180deg);
    top: 19%;
  }
}

@media screen and (min-width: 1280px) {
  .theme:after {
    width: 15px;
    height: 15px;
    transform: translateX(-35px) rotate(180deg);
    top: 19%;
  }
}

#icon-moon,
#icon-sun {
  width: 8px;
  height: 8px;
}

@media screen and (min-width: 768px) {
  #icon-moon,
  #icon-sun {
    width: 11px;
    height: 11px;
  }
}

@media screen and (min-width: 1280px) {
  #icon-moon,
  #icon-sun {
    width: 13px;
    height: 13px;
  }
}

.backdrop {
  background-color: var(--backdrop-bgc);
  opacity: 0.2;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0;
  left: 0;
}

.backdrop.visually-hidden {
  opacity: 0;
}

.mobile-menu-container {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .mobile-menu-container {
    background-color: var(--mob-menu-bg);
    height: 100%;
    z-index: 100;
    width: calc(100% - 116px);
    border-radius: 0 8px 8px 0;
    padding: 20px;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }

  .mobile-menu-container .nav-list {
    flex-direction: column;
    gap: 24px;
    display: flex;
  }

  .mobile-menu-container.is-open {
    transform: translateX(0);
  }

  .mobile-menu-container.is-open .mob-menu-logo-img {
    display: block;
  }
}

.mob-menu-logo-img {
  width: 30px;
  height: 24px;
  margin-bottom: 44px;
  display: none;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  border: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}
/* hero section */

.second-section {
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .second-section {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .second-section {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1280px) {
  .hero-container {
    margin: 0 auto;
  }
}

.hero {
  width: 100%;
  height: 660px;
  background-image: linear-gradient(
      86.77deg,
      #111111 30.38%,
      rgba(17, 17, 17, 0) 65.61%
    ),
    url(../images/desk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5%;

  
}

@media (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(86.77deg, #111 30.38%, #1110 65.61%),
      url('../images/desk.jpg');
    height: 661px;
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(86.77deg, #111 30.38%, #1110 65.61%),
        url('../images/mob_quantumania.jpg');
    }
  }

  @media (min-resolution: 288dpi) {
    .hero {
      background-image: linear-gradient(86.77deg, #111 30.38%, #1110 65.61%),
        url('../images/mob_quantumania.jpg');
    }
  }
}

@media (min-width: 768px) {

}
@media (min-width: 1280px) {

}

@media (min-width: 1280px) {

}
@media (min-width: 768px) {

}


.star-rating {
  display: flex;
  gap: 5px;
  font-size: 2rem;
  color: #f84119;
  margin-bottom: 28px;
}

.star.full {
  color: #f84119;
}

.star.half {
  color: #f84119;
}

.star.empty {
  color: #f84119;
}

/* Varsayılan (Gündüz Modu) */
body {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button.toggle-dark-mode {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  opacity: 0;
  width: 6px;
  height: 2px;
  z-index: 999;
}

/* Gece Modu */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.hero-title {
  color: #fff;
  align-items: center;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.18;
  display: flex;
  width: 800px;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 38px;
    line-height: 1.2;
  }
}

@media (min-width: 1280px) {
  .hero-title {
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 1.17;
  }
}

.hero-description {
  width: 50%;
  color: #f8f8f8;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 18.75px;
  text-align: left;
}

@media (min-width: 1280px) {
  .movie-text {
    font-size: 16px;
    line-height: 1.18;
  }
}
@media (min-width: 768px) {
  .movie-text {
    font-size: 14px;
    line-height: 1.14;
  }
}
.watch-trailer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.watch-trailer-btn {
  border: 1px solid #fff;
  border-radius: 74px;
  width: 117px;
  margin-right: 8px;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.16;
  font-family: 'Roboto', 'sans-serif';
}
.watch-trailer-btn {
  cursor: pointer;
  background: 0 0;
  border: none;
  margin: 0;
  margin-right: 0px;
  padding: 0;
}
@media (min-width: 1280px) {
  .watch-trailer-btn {
    width: 160px;
    font-size: 16px;
    line-height: 1.12;
  }
}
@media (min-width: 768px) {
  .watch-trailer-btn {
    justify-content: center;
    width: 140px;
    padding: 12px 24px;
    font-size: 14px;
    line-height: 1.4;
  }
}
.watch-trailer-btn {
  color: #111;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border: none;
}

.more-details-btn {
  border-radius: 74px;
  padding: 12px 24px;
  font-size: 12px;
  border: 1px solid #fff;
  color: white;
  width: 140px;
  font-weight: 700;
  line-height: 1.16;
  font-family: 'Roboto', 'sans-serif';
}

/* search by id , genre , year */

@media screen and (min-width: 1280px) {
  .catalog-container {
    width: 1278px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .catalog-container {
    width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 320px) {
  .catalog-container {
    width: 280px;
    margin: 0 auto;
  }
}
.catalog-container {
  width: 280px;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .search-div {
    padding-bottom: 48px;
  }
}
@media screen and (min-width: 768px) {
  .search-div {
    margin-bottom: 0;
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 320px) {
  .search-div {
    margin-bottom: 50px;
    padding-bottom: 16px;
  }
}
.search-div {
  margin-bottom: 30px;
}

.catalog-form {
  flex-wrap: wrap;
  width: 220px;
  display: flex;
}
@media screen and (min-width: 320px) {
  .catalog-form {
    flex-wrap: wrap;
    width: 280px;
    height: 40px;
    display: flex;
    position: relative;
  }
  @media screen and (min-width: 768px) {
    .catalog-form {
      flex-wrap: nowrap;
      width: 548px;
      height: 44px;
      margin: auto;
    }
  }

  @media screen and (min-width: 1280px) {
    .catalog-form {
      width: 795px;
      height: 48px;
    }
  }
}

@media screen and (min-width: 320px) {
  .catalog-form-input {
    width: 173px;
    height: 40px;
    margin-right: 12px;
    padding-left: 24px;
    padding-right: 30px;
  }
  @media screen and (min-width: 768px) {
    .catalog-form-input {
      width: 188px;
      height: 44px;
    }
  }

  @media screen and (min-width: 1280px) {
    .catalog-form-input {
      width: 315px;
      height: 48px;
      margin-right: 20px;
    }
  }
}
.search {
  box-sizing: border-box;
  border: 1px solid whitesmoke;
  color: lightgray;
  background-color: #0000;
  border-radius: 8px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  display: block;
}
@media screen and (min-width: 1280px) {
  .search {
    font-size: 16px;
  }
}

.catalog-form-input {
  width: 173px;
  height: 40px;
  margin-right: 12px;
  padding-left: 24px;
  padding-right: 30px;
}

.catalog-form-button {
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 12px;
  display: flex;
}

@media screen and (min-width: 320px) {
  .catalog-form-button {
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: 768px) {
    .catalog-form-button {
      width: 44px;
      height: 44px;
      margin-top: 0;
    }
  }
  @media screen and (min-width: 1280px) {
    .catalog-form-button {
      width: 48px;
      height: 48px;
    }
  }
}

/* Genel Grid Ayarları */
#movies {
  padding: 0px 60px;
  max-height: 1240px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 650px;
  grid-template-rows: repeat(2, 620px);
  transition: grid-template-rows 0.3s ease;
}

/* Film Kartları */
.movie-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 0 1 calc(33.333% - 16px);
  box-sizing: border-box;
  height: 600px !important;
}

.movie-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.movie-poster {
  width: 374px;
  height: 574px;
  display: block;
  object-fit: cover;
}

.movie-info {
  padding: 15px;
  text-align: center;
}

.movie-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 10px 0;
  color: white;
  width: max-content;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.movie-rating {
  font-size: 1rem;
  color: #f39c12;
}

/* Responsive Ayarlar */
@media (max-width: 768px) {
  #movies {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Daha küçük ekranlar için 2 sütun */
  }
}

@media (max-width: 480px) {
  #movies {
    grid-template-columns: 1fr; /* Mobil cihazlar için 1 sütun */
  }
}

.search-input {
  width: 315px;
  height: 48px;
  background-color: transparent;
  border-radius: 8px;
  color: #000;
  align-items: center;
  padding-left: 14px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #000;
}

.dark-mode .search-input {
  border: 1px solid #fff;
  color: #fff;
}

.search-dropdown {
  width: 95px;
  height: 48px;
  background-color: transparent;
  color: #000;
  text-align: center;
  font-weight: 500;
  border-radius: 8px;
  text-align: left;
  padding: 0px 5px;
  border: 1px solid #000;
}

.dark-mode .search-dropdown {
  border: 1px solid #fff;
  color: #fff;
}

.search-option {
  color: black;
}

.search-section {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-bottom: 48px;
}

.search-btn {
  color: white;
  cursor: pointer;
  z-index: 4;
  border: none;
}

.movie-poster-container {
  position: relative;
  display: block;
}

.movie-poster {
  width: 100%;
  height: auto;
}

.movie-overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 999;
}

.movie-date-genres {
  display: flex;
  gap: 5px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  line-height: 23px;
}

s .movie-release-date,
.movie-genres {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: grey;
}

.movie-release-date {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: grey;
}

.movie-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s;
  height: auto;
}

.movie-card img {
  width: 100%; /* Resmin genişliği, kart genişliğine uyacak şekilde */
  height: 100%; /* Yükseklik orantılı olarak ayarlanacak */
  object-fit: cover; /* Resmin kapsaması için */
  display: block;
}

.movie-card .movie-info {
  padding: 10px 0px;
  text-align: center;
}

.movie-card .movie-info p {
  margin: 5px 0;
}


.movie-poster-container {
  position: relative;
  height: 100%; /* Resim alanı yüksekliği */
}

.movie-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 10px;
  display: block;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 43.48%,
    rgba(0, 0, 0, 0.9) 80.16%
  );
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.movie-card {
  margin: 0;
  background-color: #222;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-poster {
  width: 100%;
  height: auto;
}

.movie-info {
  padding: 10px;
}

.pagination {
  display: flex; /* Flexbox kullanarak yatay hizalama */
  justify-content: center; /* Ortada hizalama */
  align-items: center; /* Dikey merkezleme */
  gap: 10px; /* Elemanlar arasındaki boşluk */
  margin: 20px 0; /* Üst ve alt boşluk */
}

.pagination-btn {
  background: transparent; /* Arka plan yok */
  color: grey;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.3s;
}

.pagination-btn:hover {
  transform: scale(1.2);
  color: #ff7b00;
}

.pagination-btn:disabled {
  color: #666;
  cursor: not-allowed;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: grey;
  border: 2px solid grey;
  border-radius: 50%; /* Daire yap */
  cursor: pointer;
  transition: all 0.3s ease;
}

.page.active {
  background: linear-gradient(135deg, #ff7b00, #ff3f81);
  color: white;
  border-color: transparent;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.page:hover {
  background: linear-gradient(135deg, #ff7b00, #ff3f81);
  color: whitef;
  border-color: transparent;
}

.dots {
  font-size: 20px;
  color: grey;
  padding: 8px;
  cursor: default;
}

.page-numbers {
  display: flex;
  gap: 16px;
}

.load-more {
  display: flex;
  justify-content: center;
}

#load-more {
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  color: #111;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px 24px;
  border: none;
  border-radius: 70px;
  cursor: pointer;
  transition: 0.3s;
}